*{
	margin: 0;
	padding: 0;
}
a{
text-decoration: 0;
}
ul{lis list-style-type: 0}

header{
	height: 387.56px;
	background-color: #0020F4;
	padding-top: 40px;
}
header li{
	margin-left: 40px;
}
nav a {
	color: #FFFFFF;
}
section{
	max-width: 1195px;
	margin: auto;
	margin-top: -100px;
}
nav li {
	display: inline-block;
}
nav,nav ul,nav li {
	display: inline-block;
}
.contact-title{
	padding:18px 39px;
	color: #171717;
	background-color:#FFFFFF;
	border-radius:28px;
}
footer{
	height:1080px ;
	background-color: #0A22F4;
	margin-top: 200px;
}
h2{
	color:#FFFFFF;
	background-color:#0A22F4;
	border-radius:28px;
}